# ignore everything except release dll
/target/*

!/target/i686-pc-windows-msvc/
/target/i686-pc-windows-msvc/*

!/target/i686-pc-windows-msvc/release
/target/i686-pc-windows-msvc/release/*

!/target/i686-pc-windows-msvc/release/*.dll